.contextMenuContainer{
    position:absolute;
    border:.5px solid #D2D3Df;
    min-width:100px;
    z-index:2;
    @apply bg-black-light-1 rounded-md flex flex-col items-stretch;
}

.contextMenuItems{
    border:.5px solid #D2D3Df;
    @apply italic text-text-white text-sm hover:cursor-pointer px-2 py-2 capitalize hover:underline;
}

.overlay{
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
}