@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html, body, #__next{
  height:100%;
}

:root{
  --blue-dark:#3D44D9;
  --blue-light:#01C5FF;
  --gradient: linear-gradient(270deg, var(--blue-light) 0%, var(--blue-dark) 100%);
}